<div>
 <%= image_tag 'idol_fan_penlight_men_mune.png', width: '315' %>
</div>

<div>
 <p>文字入りの画像を生成して力強いツイートができます。</p>
 <p><u>3stepでTwitter投稿</u></p>
</div>

<%= render 'form', post: @post %>